AGENT_MODEL_QWEN3_MODEL=qwen3.7-max
AGENT_MODEL_QWEN3_BASEURL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
AGENT_MODEL_QWEN3_APIKEY=sk-xxxxxxx

AGENT_MODEL_DS_MODEL=deepseek-v4-flash
AGENT_MODEL_DS_BASEURL=https://api.deepseek.com/chat/completions
AGENT_MODEL_DS_APIKEY=sk-xxxxxxx

EMBEDDING_MODEL=deepseek-v4-flash
EMBEDDING_BASEURL=https://api.deepseek.com/chat/completions
EMBEDDING_APIKEY=sk-xxxxxxx

QQ_CLIENT_SECRET=xxxxxxx
QQ_APP_ID=xxxxxxx

FEISHU_APP_ID=xxxxxxx
FEISHU_APP_SECRET=xxxxxxx
FEISHU_WEBHOOK_BIND=0.0.0.0:8080

TAVILY_API_KEY=tvly-dev-4aWiqV-xxxxxxx