/target
/.idea
/.vscode
/.classpath
/.claude
.env
.env1
mcp.json
/Cargo.lock
/echo-agent.yaml
.DS_Store
.ISSUES.md
/.playwright-mcp/echo-core/target/
echo-execution/target/
echo-state/target/
echo-orchestration/target/
echo-macros/target/
echo-integration/target/
echo-tools/target/
*/Cargo.lock
echo-agent-models.yaml
.echo-http-server/
apps/echo-app-core/target
apps/echo-http-server/target
